.pagination{
    display: flex;
    justify-content: center;
    padding: 0;
}
img{
    cursor: pointer;
}
.test{
    background-image: url('https://a.icons8.com/ajnYsMeU/8KAT7R/oval.png');
    background-size: cover;
}
.test2{
    background-image: url('https://a.icons8.com/kibdoQeV/uqiwhJ/oval.png');
    background-size: cover;
}